/* general style of html and body */
a:link, a:visited, a:active {
    text-decoration: none;
    color: #fff;
}

html {
    height: 710px;
}

body {
    background-color: #ccc;
    background-attachment: scroll;
    border-bottom: 1px;
    text-align: center;
    display: block;
	margin: 0px;
    min-height: 100%;
	height: 100%;
	width: 100%;
}

/* styel of header and menu part */

#wrapper {
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: top;
    position: relative;
}

#container {
    background-image: url("/image/background.gif");
    background-repeat: repeat-y;
    background-position: top center;
    vertical-align: top;
    text-align: center;
    height: 670px;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.28, rgb(229, 83, 34)),
        color-stop(0.91, rgb(209, 150, 82))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(229, 83, 34) 28%,
        rgb(209, 150, 82) 91%
    );
    height: 60px;
    width: 930px;
    margin-left: auto;
    margin-right: auto;
    
}

#logo {
    padding: 15px;
    padding-left: 30px;
    text-align: left;
    position: relative;
    float:left;
    font-size: 24px;
    height: auto;
}

#login {
    padding: 15px;
    padding-right: 30px;
    text-align: left;
    position: relative;
    float:right;
    font-size: 24px;
    height: auto;
}

#ribbon-pane {
    width: 930px;
    height: 100px;
    text-align: center;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}

#login-form {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: top;
    position: relative;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FEF2B6');
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FEF2B6));
    background: -moz-linear-gradient(top,  #FFFFFF,  #FEF2B6);
}



#menu {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(0,0,0)),
        color-stop(1, rgb(102,102,111))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(0,0,0) 0%,
        rgb(102,102,111) 100%
    );
    width: 930px;
    height: 60px;
    margin: 0px auto;
    vertical-align: top;
}

#menu ul {
    border: 0px;
    display: block;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    text-align: center;
}

#menu ul li {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    list-style-type: none;
    display: inline;
    vertical-align: top;
    width: 50px;
    height: 60px;
}

li.over {
    background-color: #d04212;
}


/* style of content */

#content {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(204, 204, 204)),
        color-stop(0.33, rgb(245, 245, 245)),
        color-stop(1, rgb(204, 204, 204))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(204, 204, 204) 0%,
        rgb(245, 245, 245) 33%,
        rgb(204, 204, 204) 100%
    );
    margin-bottom: 40px;
    height: 550px;
    width: 930px;
    margin-left: auto;
    margin-right: auto;
}

#news {
    background-color: #fff;
    border: 1px solid;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    margin: 20px;
    width: 480px;
    height: 500px;
    float: left;
}

#news-title {
    background-color: #fff;
    border-bottom: 1px solid;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    height: 30px;
}

#intro {
    background-color: #fff;
    border: 1px solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 368px;
    height: 500px;
    float: left;
}

#intro-title {
    background-color: #fff;
    border-bottom: 1px solid;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    height: 30px;
}

#footer {
    border-top: 1px solid;
    height:39px;
}
